header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    height: 50px;
    background-color: #666475;
    color: #FFF;
}

.logo h1{
    font-size: 20px;
    font-weight: 600;
}

.logo h1 a{
    color: #FFF;
}

.logo span, .user span{
    color: #CFCDCD;
    font-weight: 700;
}

.user p{
    font-size: 14px;
    font-weight: 500;
}

.user input{
    width: 100px;
    padding: 6px;
    font-size: 12px;
    border: none;
    outline: 0;
    margin-right: 5px;
}

.user button{
    padding: 6px 10px;
    font-size: 12px;
    background-color: #CFCDCD;
    color: #464545;
    border: none;
    cursor: pointer;
    letter-spacing: 0.6px;
}

.user button:hover{
    background-color: #2196F3;
    color: #FFF;
    transition: 0.6s;
}